:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-padding-top: 115px;
}

a {
  font-weight: 500;
  color: #245e94;
  text-decoration: inherit;
}
a:hover {
  color: #de296c;
}

.link-style {
  color: #245e94 !important;
}

.link-style:hover {
  color: #de296c !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #245e94;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #245e94;
  }
  button {
    background-color: #f9f9f9;
  }
}

.card {
  padding: 0;
}

.custom-header h2 {
  margin-top: 50px;
  margin-bottom: -100px;
}

.carousel {
  margin: auto;
}

.rating {
  font-size: 2em;
}
.star {
  cursor: pointer;
  color: #ccc;
}
.star.active,
.star:hover {
  color: gold;
}

.star-rating {
  color: gold;
}

.star-rating-half {
  color: gold;
}

.star-rating-empty {
  color: #ccc;
}

.container {
  padding: 2em;
  position: relative;
  min-height: 70vh;
}

.home-container {
  margin-top: 310px;
  width: 100%;
}

.masthead-container {
  position: absolute;
  right: 0;
  left: 0;
  top: 110px;
}

.masthead {
  height: 300px;
  background-image: url("/client/src/Logos/header.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.masthead-content {
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 8px;
  width: 65%;
}

.masthead h1 {
  /* font-size: 3rem;  */
  margin-bottom: 10px;
}

.masthead p {
  /* font-size: 1.25rem;  */
  margin-bottom: 10px;
}

.button-details {
  color: white;
  background-color: #245e94;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a.button-details:hover {
  color: white;
}

.button-details:hover,
.button-details:focus {
  background-color: #de296c;
  border: 1px solid transparent;
}

.button-details:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.button-details-alt {
  color: white;
  background-color: #de296c;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a.button-details-alt:hover {
  color: white;
}

.button-details-alt:hover,
.button-details-alt:focus {
  background-color: #245e94;
  border: 1px solid transparent;
}

.button-details-alt:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.button-submit {
  color: #245e94;
  background-color: white;
  border-color: #245e94;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button-submit:hover,
.button-submit:focus {
  color: white;
  background-color: #245e94;
  border: 1px solid transparent;
}

.button-submit:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

ul.pagination {
  --bs-pagination-color: #245e94;
  --bs-pagination-hover-color: white;
  --bs-pagination-hover-bg: #de296c;
  --bs-pagination-focus-color: #245e94;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #245e94;
  --bs-pagination-active-border-color: #245e94;
  --bs-pagination-disabled-color: #245e94;
}

.social-links {
  color: #245e94;
  display: inline-block;
  text-align: center;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.social-links:hover,
.social-links:focus {
  color: #de296c;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* border-top: solid 1px rgb(223, 223, 223); */
}

ul.category-list {
  margin: 0 0 0 20px;
  padding: 0;
  list-style: none;
}

ul.category-list li {
  border: 1px transparent solid;
  display: inline-block;
  width: 12em;
}

.carousel .carousel-indicators button {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.edit-review {
  padding: 15px;
}

li.comment-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.comment-text {
  flex-grow: 1;
}

.comment-actions {
  display: flex;
  align-items: top;
  justify-content: flex-end;
  margin-top: 5px;
}

.table {
  border: 1px solid black;
  td {
    padding: 15px !important;
  }
}

.date-stamp {
  font-size: 0.875em;
  color: gray;
}

.user-remarks {
  font-size: 1.5em;
  margin: 0.25em 0;
  padding: 0 0 0.35em 30px;
  line-height: 1.45;
  position: relative;
}

.user-remarks:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 3em;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  left: -15px;
  top: -20px;
  color: #aeaeae;
}

.review-title {
  padding: 10px;
  border-radius: 10px;
}
